<div class='tweet'>
  <table>
    <tr>
      <td>ID: <%= tweet.id %> <%= link_to 'delete', tweets_path(tweet), method: :delete, remote: true %></td>
    </tr>
    <tr>
      <td id="<%= tweet.id %>">User:<%= tweet.user.username %></td>
    </tr>
    <tr>
      <td><%= tweet.message %></td>
    </tr>
    <tr>
      <td id='tweet-likes-<%= tweet.id %>'>Likes: <%= tweet.number_of_likes %></td>
    </tr>
  </table>
  <%= like_button tweet %>
</div>
